body {
    margin: 0;
    padding: 0;
}

.layout-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 1.6em;
}

.install-panel {
    width: 720px;
    margin: 0 auto;
    padding: 20px 40px;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
}

.el-form-item__label {
    font-size: 15px;
}

.scheme-select {
    width: 90px;
}

.field_home .el-form-item__error {
    padding-left: 90px;
}

.field_home .el-input-group__prepend {
    background-color: #ffffff;
}

.form-section + .form-section {
    margin-top: 40px;
}

.caption{
    margin: 0 0 20px;
    padding: 0 0 10px;
    border-bottom: 1px dashed #DCDFE6;
}

.el-form-item {
    margin-bottom: 20px;
}

.el-input-group__append {
    padding: 0 15px;
    background-color: #409EFF;
}

.el-input-group__append .el-icon-refresh:before {
    color: #fff;
    font-size: 22px;
}



.form-control {
    position: relative;
    display: flex;
    margin: 15px 0 0;
    padding: 0;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
}

.form-control label {
    width: 150px;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
    border-right: 1px solid #e6e6e6;
    background-color: #FBFBFB;
}

.form-control input[type='text'] {
    flex: 1;
    line-height: 1.3;
    font-size: 15px;
    padding: 0 1em;
    border: none;
}

.form-control input[type='button'] {
    padding: 0;
    width: 40px;
    background-color: #009688;
    color: #fff;
    border: none;
    font-size: 14px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M512 919.552c-224.768 0-407.552-182.784-407.552-407.552 0-8.704.512-17.408 1.024-26.112l71.68 4.608c-.512 7.168-.512 14.336-.512 21.504 0 185.344 150.528 335.872 335.872 335.872 86.528 0 168.448-32.768 230.912-92.16l49.152 52.224C716.288 880.128 616.96 919.552 512 919.552zM919.552 512h-71.68c0-11.776-.512-23.552-2.048-35.328-17.92-171.52-161.28-300.544-334.336-300.544-67.584 0-132.096 19.968-187.904 57.344L284.16 174.08c67.072-45.568 145.92-69.632 227.84-69.632 209.408 0 384 156.672 405.504 365.056 1.536 13.824 2.048 28.16 2.048 42.496z' fill='%23fff'/%3E%3Cpath d='M140.288 290.816L28.16 491.52c-3.072 5.12 1.024 11.776 6.656 11.776H258.56c6.144 0 9.728-6.144 6.656-11.776L153.6 290.816c-3.072-5.632-10.752-5.632-13.312 0zM870.4 675.84L758.272 475.136c-3.072-5.12 1.024-11.776 6.656-11.776h223.744c6.144 0 9.728 6.144 6.656 11.776L883.712 675.84c-2.56 5.12-10.24 5.12-13.312 0zM270.336 202.24a35.84 35.84 0 1 0 71.68 0 35.84 35.84 0 1 0-71.68 0zM728.576 784.896a35.84 35.84 0 1 0 71.68 0 35.84 35.84 0 1 0-71.68 0z' fill='%23fff'/%3E%3C/svg%3E");
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.form-control .error-msg {
    display: none;
    position: absolute;
    width: 100%;
    height: 36px;
    line-height: 36px;
    top: 100%;
    border: none;
    text-align: center;
    font-size: 14px;
    color: red;
    background-color: transparent;
}

.form-control.error {
    margin-bottom: 40px;
    border-color: red;
}

.form-control.error .error-msg {
    display: block;
}

.form-section--submit {
    text-align: center;
}

.form-section--submit button {
    display: inline-block;
    min-width: 120px;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #1E9FFF;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.form-section--submit button:hover {
    opacity: .8;
}

.required {
    color: red;
}

.layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 999;
}

.layer.dialog-show {
    display: block;
}

.layer-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    height: 154px;
    margin: auto;
    background-color: #fff;
}

.dialog-title {
    padding: 0 80px 0 20px;
    height: 42px;
    margin: 0;
    line-height: 42px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    background-color: #F8F8F8;
    border-radius: 2px 2px 0 0;
}

.dialog-content {
    position: relative;
    margin: 0;
    padding: 20px;
    line-height: 24px;
    word-break: break-all;
    overflow: hidden;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
}

.dialog-btn {
    text-align: right;
    margin: 0;
    padding: 0 15px 12px;
    pointer-events: auto;
}

.dialog-btn span {
    display: inline-block;
    vertical-align: top;
    height: 28px;
    line-height: 28px;
    margin: 5px 5px 0;
    padding: 0 15px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    border-color: #1E9FFF;
    background-color: #1E9FFF;
    color: #fff;
}

.dialog-close {
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M579.888 512l190.064-190.064a48 48 0 0 0-67.888-67.872L512 444.112 321.936 254.064a48 48 0 1 0-67.872 67.872L444.112 512 254.064 702.064a48 48 0 1 0 67.872 67.872L512 579.888l190.064 190.064a48 48 0 0 0 67.872-67.888L579.888 512z'/%3E%3C/svg%3E") center/20px 20px no-repeat;
}

.dialog-btn span:hover, .dialog-close:hover {
    opacity: .8;
}

