{% extends "_layout.twig" %}

{% block main %}
  <main id="main" class="container">
    <div id="section-top" class="section top-section main-content">
      {{ content|raw }}
    </div>
    <div id="hot-products" class="section">
      <ul>
        {% for node in _catalog.get_under(0) -%}
          <li>{{ node.title }}</li>
        {%- endfor %}
      </ul>
    </div>
  </main>
{% endblock %}

